.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
    animation: fadeUp linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.oval-container-about {
    width: 350px;
    height: 350px;
    background: transparent;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem var(--main-color);
    overflow: hidden;
}

.oval-container-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about-content {
    flex: 1;
    text-align: left;
    animation: fadeUp linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.about-content h3 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        text-align: center;
    }

    .oval-container-about {
        width: 250px;
        height: 250px;
    }
}