.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hexagon-container-about {
    width: 350px;
    height: 350px;
    background: var(--main-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
}

.hexagon-container-about img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.about-content {
    flex: 1;
    text-align: left;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.about-content h3 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        text-align: center;
    }

    .hexagon-container-about {
        width: 250px;
        height: 250px;
    }
}