.timeline-section {
    background: var(--bg-color);
    padding: 10rem 9% 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* SVG Container for the Map Route */
.timeline-svg-container {
    position: absolute;
    width: 20px;
    height: 100%;
    /* Spans the full height of items */
    left: 0;
    top: 0;
    z-index: 0;
}

.timeline-svg-container svg {
    height: 100%;
    width: 100%;
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    padding-left: 37px;
    /* Space for dot and line */
}

.timeline-dot {
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color), 0 0 2rem var(--main-color);
    position: absolute;
    left: 0;
    top: 5px;
    /* Adjust based on title height */
    border-radius: 50%;
}

.timeline-date {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.timeline-content {
    background-color: var(--second-bg-color);
    padding: 30px;
    border-radius: 2rem;
    border: 1px solid var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    transition: 0.5s ease;
}

.timeline-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2rem var(--main-color);
}

.timeline-content h3 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 0 10px;
    font-weight: 600;
}

.timeline-content h4 {
    font-size: 1.6rem;
    color: var(--main-color);
    margin: 0 0 15px;
}

.timeline-content p {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.5;
}