.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-icon {
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.services-box h3 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.services-box p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}